{% extends "base.html" %}

{% block content %}
<table>
	
	<tr> 
		<td><b> Brokerage </b></td>
		{% for Brokerage in Brokerage_List %}
			<td>{{ Brokerage.BrokerageName }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td><b> Review Link </b></td>
		{% for Brokerage in Brokerage_List %}
			<td>{{ Brokerage.ReviewLink }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td><b> Contact Link </b></td>
		{% for Brokerage in Brokerage_List %}
			<td>{{ Brokerage.ContactLink }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td><b> Total Agents </b></td>
		{% for Brokerage in Brokerage_List %}
			<td>{{ Brokerage.TotalAgents }}</td>
		{% endfor %}
	</tr>
	<tr>
		<tr><b> Location </b></td>
		{% for Brokerage in Brokerage_List %}
			<td>{{ Brokerage.Location }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td><b> Desks </b></td>
		{% for Brokerage in Brokerage_List %}
			<td>{{ Brokerage.Desks }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td><b> Yearly Costs </b></td>
		{% for Brokerage in Brokerage_List %}
			<td>{{ Brokerage.YearlyCosts }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td><b> Commision Split </b></td>
		{% for Brokerage in Brokerage_List %}
			<td>{{ Brokerage.CommisionSplit }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td><b> Brokerage Cap </b></td>
		{% for Brokerage in Brokerage_List %}
			<td>{{ Brokerage.Cap }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td><b> Trainings Per Week </b></td>
		{% for Brokerage in Brokerage_List %}
			<td>{{ Brokerage.TrainingPerWeek }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td><b> Onboarding </b></td>
		{% for Brokerage in Brokerage_List %}
			<td>{{ Brokerage.Onboarding }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td><b> Mentorship </b></td>
		{% for Brokerage in Brokerage_List %}
			<td>{{ Brokerage.Mentorship }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td><b> Teams Hiring </b></td>
		{% for Brokerage in Brokerage_List %}
			<td>{{ Brokerage.Teams_Hiring }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td><b> Marketing </b></td>
		{% for Brokerage in Brokerage_List %}
			<td>{{ Brokerage.Marketing }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td><b> Total Listings </b></td>
		{% for Brokerage in Brokerage_List %}
			<td>{{ Brokerage.TotalListings }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td><b> Conference Rooms </b></td>
		{% for Brokerage in Brokerage_List %}
			<td>{{ Brokerage.ConferenceRooms }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td><b> Office Leaders </b></td>
		{% for Brokerage in Brokerage_List %}
			<td>{{ Brokerage.OfficeLeaders }}</td>
		{% endfor %}
	</tr>
</table>
{% endblock content %}
